nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    background-color: rgb(255, 255, 232);
    width: 20rem;
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
    color: rgba(7, 5, 5, 0.959);

}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height;
}

footer {
    margin-top: 15px;
    border-top: 1px;
    solid #000;
    text-align: center;
}